// .about-top-img-wrapper {
//   background-image: url('../static/img/about/about.jpg');
//   background-position: -10px center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 100%;
//   position: relative;
// }


.about-top-img-wrapper h2 {
  position: absolute;
  display: block;
  bottom: 10%;
  left: 10%;
  font-family: sans-serif;
  color: white;
  font-size: 5rem;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

.about-img1,.about-img2, .about-img3, .about-img4 {
  width: 100%;
}
