.h1-s1 {
  color: #262f58;
  font-size: 72px;
  line-height: 80px;
}

.h2-s1 {
  color: #17543e;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0px;
}

.product:hover .v-image__image {
  transform: scale(1.1);
  transition: linear 0.5s;
}

.product:hover {
  transform: translateY(-10px);
}

.wrapper-end-img {
  position: relative;
  margin-top: -150px;
  z-index: 4;
  margin-bottom: 50px;
}