@media (min-width: 0)
{
  .logo-home {
    margin: 80px 0 50px;
  }

  .feedback4 {
    display: none;
  }

  .feedback3 {
    display: none;
  }

  .feedback2 {
    display: none;
  }

  .feedback1 {
    display: block;
  }
}

@media (min-width: 600px)
{
  .about-top-photo {
    max-height: 480px;
  }

  .main-carousel {
    height: auto !important;
  }

  .logo-home {
    margin: 70px 0 50px;
  }

  .feedback4 {
    display: none;
  }

  .feedback3 {
    display: none;
  }

  .feedback2 {
    display: block;
  }

  .feedback1 {
    display: none;
  }
}

@media (min-width: 960px)
{
  .about-top-photo {
    max-height: 560px;
  }

  .logo-home {
    margin: 0 0 50px 0;
  }

  .feedback4 {
    display: none;
  }

  .feedback3 {
    display: block;
  }

  .feedback2 {
    display: none;
  }

  .feedback1 {
    display: none;
  }

  .about-img1 {
    max-width: 400px;
    float: right; margin: 0 0 20px 20px;
  }

  .about-img3, .about-img2 {
    max-width: 350px;
    float: left; 
    margin: 0 20px 20px 0;
  }
}

@media (min-width: 1264px) {
  .about-top-photo {
    max-height: 600px;
  }

  .feedback4 {
    display: block;
  }

  .feedback3 {
    display: none;
  }

  .feedback2 {
    display: none;
  }

  .feedback1 {
    display: none;
  }
}

@media (min-width: 1904px)
{
  .about-top-photo {
    max-height: 660px;
  }

  .feedback4 {
    display: block;
  }

  .feedback3 {
    display: none;
  }

  .feedback2 {
    display: none;
  }

  .feedback1 {
    display: none;
  }
}