.social:hover {
  color: rgb(210, 240, 227);
}

.social {
  color: white;
  cursor: pointer;
}

.instagram{
  // color: #f09433; 
}

.instagram:hover{
  // color: #dd7d16; 
}

.fb {
  // color: #4267b2;
}

.fb:hover {
  // color: #325eb6;
}

.vk {
  // color: #4c75a3;
}

.vk:hover {
  // color: #366294;
}

.youtube {
  // color: #ff0000;
}

.youtube:hover {
  // color: #df0303;
}

