.video-intro, .video-intro .video-js,
.video-wrapper, .video-wrapper .video-js
{
  width: 100%;
}

.video-wrapper .vjs-big-play-button {
  left: 42%;
  top: 44%;
}

 .ytp-chrome-top {
  display: none !important
}

.hidedrive {
  background-image: url('../static/img/paw2.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px; 
  height: 80px; 
  position: absolute; 
  opacity: 1; 
  right: -5px; 
  top: -5px;
}

.video-wrapper {
  width: 100%; 
  position: relative;
}